@charset "UTF-8";
/*---------Général------*/
#accueil.bestiaire {
  background: url("/assets/Pictures/banners/ban-bestiary.png") no-repeat center center fixed;
  background-size: cover;
}
/*------END Général-----*/
/*--------Section : Présentation du bestiaire----------*/
.bestiary_present p {
  margin:1%;
  font-size: 15px;
}
/*--------END Section : Présentation du bestiaire----------*/
/*--------Section : Barre de navigation gauche----------*/
.bestiary {
  width: 90%;
}
.bestiary-interface {
  padding: 0;
}
.bestiary-menu {
  background-color: #1b2530;
  padding: 0;
}
.appli-scroll {
  overflow-y: scroll;
  height: 600px;
}
.bestiary-accordion {
  background-color: #2c3e50;
  color: #e7d4aa;
  cursor: pointer;
  padding: 16px;
  margin: 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}
.panel {
  padding: 0;
  margin: 0;
  background-color: #1b2530;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel a {
  background-color: #2c3e50; /* Bleu marine background color */
  color: #fff; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  text-align: center;
}

/*--------Section Fiche descriptive de l'animal droite----------*/

/*-------ZONE DESCRIPTION---------*/

.fiches-descriptions {
  height: auto;
}

.fiches-descriptions h2 {
margin-top: 0;
}

.tab-pane {
  margin: 1%;
  padding: 0;
  text-align: justify;
}

.bestiary-fichecentrale {
  margin: 0;
  padding: 1%;
}

.bestiary-fichecentrale img {
  border-style: double;
  border-width: 7px;
  border-color: #cfb986;
}

.bestiary-scrollbar {
  overflow-y: scroll;
  height: 450px;
}





/*----ZONE CARTE ET LIENS ANNEXES--*/

.bestiary-ficheannexe {
  margin: 0;
  padding: 0;
  /*height: 650px;*/
  border-left-style: solid;
  border-width: 3px;
  border-color: #cfb986;
}
.bestiary-ficheannexe img {
  margin: 2%;
  padding: 0;
  border-style: double;
  border-width: 7px;
  border-color: #cfb986;
}
