@charset "UTF-8";

#accueil {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  position: relative;
}

#accueil .logo {
  display: block;
  margin: 0 auto 9%;
  padding-top: 4%;
  max-width: 73%;
}

#accueil.main {
  background: url("/assets/Pictures/banners/ban.jpg") no-repeat center center fixed;
  background-size: cover;
}

/*-----------Section UP (intercale entre la ban et le reste)--------------*/

.section-up {
  background-image: url("/assets/Pictures/section_up.png");
  height: 20px;
  background-size: auto 100%;
}
/*-----------END Section UP--------------*/

/*-----------Section PRESENTATION--------------*/
/*Général*/
.present {
  margin-top : 2%;
  margin-bottom : 2%;
  border-bottom : 10px;
}
/*Partie gauche, texte descriptif et bouton liens*/
.present .left {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.title1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
/*Zone Trailer vidéo*/
.presentation .right {
  padding: 30px;
  /*background-image: url("/assets/Pictures/wood_texture.jpg");*/
  border-style: double;
  border-width: 5px;
  border-color: #cfb986;
}

.video-conteneur {
position:relative;
padding-bottom:56.25%;
height:0;
overflow:hidden;
}

.video-conteneur iframe, .video-conteneur object, .video-conteneur embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

/*----Bouton "Nous rejoindre"------*/
.buttonleaf {
width: 200px;
margin-top: 12px;
margin: auto;
display: block;
cursor: pointer;
}
/*Changement d'image au passage de la souris sur l'objet*/
#buttonfeuille :hover {
background-image: url("/assets/Pictures/button_hover.png");
background-size: cover;
background-repeat: no-repeat;
background-position: bottom;
}
/*-----------END Section PRESENTATION--------------*/
/*---------Ligne de séparation---------------------*/
.section_down {
    background-image:url("/assets/Pictures/section_down.png");
    height: 15px;
    background-size: auto 100%;
}
/*---------END Ligne de séparation---------------------*/

/*---------SECTION NEWS---------*/

  /* Left part - Blog-CSS */
.blog-box {
    margin-bottom: 30px;
    background-color: #cfb986;
}

.blog-box-content {
padding: 0 20px 20px;
text-align: center;
}

.blog-box-content p {
    text-align: center;
}

/* Main Article [Module]*/
/*show the last 3 articles post*/

.media img {
  width: 150px;
  height: auto;
}

.main-list .media {
	padding-bottom: 1.1em;
	border-bottom: 1px solid #cfb986;
}

/*Système d'affichage des dates*/

#First-bloc-box {
  bottom: 30px;
}

.bloc-box-date {
  display: inline-block;
  position: absolute;
  right: 30px;
}

.datetime {
  font-size: 14px;
  color: #8a8a8a;
  font-style: italic;
  white-space: nowrap;
}
/*---------END SECTION NEWS---------*/

/*--------SECTION MEMBRES-----------*/

.wrap {
  margin-top : 21px;
  margin-bottom : 42px;
  border : 10px;
}

.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;
}

.tile {
  width:250px;
  height:250px;
  margin:5px;
  background-color:#2c3e50;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 25px 20px -10px rgba(0,0,0,0.22);
  overflow:hidden;
  color:#ffff;
}

.tile img {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
/*  transition: all 0.4s ease-out;*/
}

.tile .text {
  position:relative;
  padding :20px;
  height:calc(100% - 60px);
}

.tile h2 {
  font-family: 'inKnut Antiqua', serif;
  color: #e7d4aa;
  font-size: 20px;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.tile h3 {
  font-size: 18px;
}

.tile p {
  margin:0;
  font-size: 1.5rem;
  line-height: 15px;
/*   opacity:0;
  transform: translateX(-200px);
  transition-delay: 0.2s;*/
}

.animate-text {
  opacity:0;
  transition: all 0.6s ease-in-out;
}

.tile:hover {
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.03);
}

.tile:hover img {
  opacity: 0.2;
}

.tile:hover .animate-text {
  transform:translateX(0);
  opacity:1;
}

.animate-button {
  position:absolute;
  display: inline-block;
  right: 50px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}

.animate-button a {
  display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
}

.tile:hover a {
  opacity:1;
  transform:translateY(0px);
}

.button a:nth-child(1) {
   transition-delay: 0.06s;
}

/*--------END SECTION MEMBRES-------*/

/*---------SECTION LIENS---------*/

/*Couleurs des titres au dessus de chaque liens*/
.liens h1 {
  color : #e7d4aa;
}
/*Changement d'image au passage de la souris sur l'objet*/
#chronologie :hover {
  background-image: url("/assets/Pictures/chrono_stone_hover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#map :hover{
  background-image: url("/assets/Pictures/maplien_hover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#galery :hover{
  background-image: url("/assets/Pictures/papers_beast_hover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
/*---------END SECTION LIENS---------*/
