@charset "UTF-8";

/*-----------bannière--------------*/
/*général*/
.banner {
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.ban {
 width: 100%;
 max-width: 100%;

}
.ban img {
  width: 100%;
  max-width: 100%;
}

/* Interieur de la bannière : texte et possible bouton*/
.inner-banner {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
.inner-banner h1 {
  color: #ffffff;
  text-shadow: 1px 1px 20px #000000;
}

/*-----------Footer/Bas de page--------------*/

footer {
  color: #ffffff;
  background-color: #582D30;
  padding: 25px;
}
