@charset "UTF-8";

/* - Pour police Font en ligne (google Font) : font-family: 'Kreon', serif;
   - Font intégré au dossier "font", effectuer :

@Fontface {
  font-family:'Kreon';
  src:'font/Kreon.ttf'
}
*/

/* couleurs série :
noir : 131313
blanc : fff
beige clair : e7d4aa
bleu marine : 2c3e50
sable mouillé: cfb986
bleu marine foncé: 1b2530
marront foncé (Text h1) : 3a3428
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  box-sizing: border-box;
}

body {
  padding-top: 50px; /*Permet au contenu de rester sous la barre de navigation. A ne pas changer !*/
  font-family: 'Kreon', serif;
  color: #131313; /*Couleur du texte*/
  background-color: #e7d4aa; /*Couleur du fond de page*/
}

.container-fluid { /*à changer, ajuste le padding du footer, mais à corriger au ménage*/
  padding: 0;
}

h1 {
  font-family: 'Inknut Antiqua', serif;
  font-size: xx-large;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  color: #3a3428;
  font-weight: 200;
}

/* Ligne entre le titre et les articles/Sous h1*/
.border {
  background: #cfb986; /*Couleur de la barre de séparation*/
  height: 2px; /*épaisseur de la barre de séparation*/
  width: 165px; /*longueur de la barre de séparation*/
  margin-left: auto;
  margin-right: auto; /*La barre reste centrée grace à ces deux fonctions*/
  margin-bottom: 25px; /* Taille de la marge du bas*/
}
/* END Ligne entre le titre et les articles*/

h2 {
font-family: serif;
color: #131313;
letter-spacing: 0;
line-height: 21px;
margin-top: 15px;
}

p {
  font-family: 'Alice', serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 18px;
   line-height: 1.8rem;
   margin: 0.5em;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

ul {
  list-style: none;
}

/*----------Barre de navigation----------*/

.navbar .container {
  text-align: center;
    font-family: 'Inknut Antiqua', serif;
}
.navbar-default {
  background-color: #2c3e50;
  border-color: #1b2530;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e7d4aa;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e7d4aa;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2c3e50;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e7d4aa;
  background-color: #1b2530;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #1b2530;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #e7d4aa;
  background-color: #1b2530;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e7d4aa;
  background-color: #1b2530;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #e7d4aa;
  background-color: #1b2530;
}
.navbar-default .navbar-toggle {
  border-color: #1b2530;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1b2530;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #e7d4aa;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e7d4aa;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e7d4aa;
    background-color: #1b2530;
  }
}

/*----------logo Domhan----------*/

.navbar-collapse .navbar-brand {
  display: inline-block;
  float: none;
  padding: 0;
  margin: 0;

}
/*Bloc contenant l'image du logo*/
.navbar-collapse .navbar-brand .white-circle {
  display: block;
  width: 200px;
  height: 75px;
}
/*Taille de l'image à l'intérieur du bloc*/
.navbar-collapse .navbar-brand .logo {
  width: 150px;
}
/*---------End Logo Domhan---------*/
/*----------END Barre de navigation----------*/

/*----------Footer/Bas de page----------*/

footer {
    background-color: rgba(44, 62, 80, 1.0);
    width: 100%;
    bottom: 0;
    font-weight: lighter;
    color: white;
}
.footerHeader{
    background-image:url("/assets/Pictures/section_down.png");
    height: 15px;
    background-size: auto 100%;
}
footer h3{
    font-weight:lighter;
}
footer ul{
    padding-left:5px;
    list-style:none;
}
footer p{
    font-family: 'Alice', serif;
    text-align : justify;
    font-size : 12px;
}
footer iframe {
    width:100%;
    position:relative;
    height:170px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
}
.sm li a img {
    width:32px;
}

.icon-ul {
  list-style-type:none !important;
  margin:0px;
  padding:0px;
}
 .icon-ul li {
   line-height:75px;
   width:100%;
   float:left;
 }
 .icon {
   float:left;
   margin-right:5px;
 }
 .copyright {
   min-height:40px;
   background-color:#000000;
 }
 .copyright p {
   text-align:left;
   color:#FFF;
   padding:10px 0;
   margin-bottom:0px;
 }
 .heading7 {
   font-size:21px;
   font-weight:700;
   color:#d9d6d6;
   margin-bottom:22px;
 }
 .post p {
   font-size:12px;
   color:#FFF;
   line-height:20px;
 }
 .post p span {
   display:block;
   color:#8f8f8f;
 }
 .bottom_ul {
   list-style-type:none;
   float:right;
   margin-bottom:0px;
 }
 .bottom_ul li {
   float:left;
   line-height:40px;
 }
 .bottom_ul li:after {
   content:"/";
   color:#FFF;
   margin-right:8px;
   margin-left:8px;
 }
 .bottom_ul li a {
   color:#FFF;
   font-size:12px;
 }
/*----------END Footer/Bas de page----------*/
