@charset "UTF-8";

/* - Pour police Font en ligne (google Font) : font-family: 'Kreon', serif;
   - Font intégré au dossier "font", effectuer :

@Fontface {
  font-family:'Kreon';
  src:'font/Kreon.ttf'
}
*/

/* couleurs série :
noir : 130F0A
rouge vif : D32430
gris/vert pastel : BBBCAC
blanc crème : FFEFF4
pêche clair : F8D5B5
marron bordeau : 582D30
*/

body, html {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Kreon', serif;
  color: #131313; /*Couleur du texte*/
  background-color: #BBBCAC; /*Couleur du fond de page*/
}

/*----------Barre de navigation----------*/

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  /*background-color: #60484E;*/
  border: none;
}

/*----------logo Domhan----------*/
.navbar .container {
  text-align: center;
}
.navbar-collapse .navbar-brand {
  display: inline-block;
  float: none;
  padding: 0;
  margin: 0;
  overflow: visible;
}
/*Bloc contenant l'image du logo*/
.navbar-collapse .navbar-brand .white-circle {
  display: block;
  width: 200px;
  height: 75px;
}
/*Taille de l'image à l'intérieur du bloc*/
.navbar-collapse .navbar-brand .logo {
  width: 150px;
}
/*---------End Logo Domhan---------*/
