@charset "UTF-8";
/*----Général----*/
#accueil.wwa {
  background: url("/assets/Pictures/banners/ban-wwa.jpg") no-repeat center center fixed;
  background-size: cover;
}
/*---END Général----*/
/*----Section About----*/
.about-present-text {
  margin: 2%;
}
.about-present-text p {
  text-align: center;
}
/*---END Section About--*/

/*----Section WWA-------*/

.profils {
  padding-top: 1%;
  padding-bottom: 3%;
}

.our-team {
  background-color: #cfb986;
  border-width: 4px;
  border-style: solid;
  border-color: #cfb986;
}

.our-team .pic{
    position: relative;
    overflow: hidden;
}
.our-team .pic img{
    width:100%;
    height: auto;
    transition:all 0.20s ease-in-out;
}
.our-team:hover img{
    transform: scale(1.1,1.1);
}
.our-team .over-layer{
    position: absolute;
    left:0;
    bottom:-100%;
    width:100%;
    height:100%;
    padding: 20px 10px;
    background:rgba(27, 37, 48,0.6);
    transition:all 0.20s ease-in-out;
}
.our-team:hover .over-layer{
    bottom:0;
}
.our-team .description{
    font-size: 14px;
    font-family: serif;
    color:#fff;
    text-align: center;
}

.team-prof .social_media_team {
    padding:0;
    margin:0;
    list-style:none;
}

.social_media_team {
    margin-top: 5px;;
    list-style: none;
    text-align: center;
}

.social_media_team > li{
    display: inline-block;
    padding: 5px;
}

.our-team .team-prof{
    text-align:center;
    margin-top: 5px;
}
.our-team .team-prof a {
    font-family: 'Inknut Antiqua', serif;
    color:#3a3428;
    font-size:18px;
}
.our-team .team-prof a:hover{
    text-decoration:none;
    color:#ffff;
}
.our-team .team-prof small{
    color:#1b2530;
    display: block;
    font-family: 'Alice',serif;
    font-size: 14px;
    margin-top:3%;
}

@media screen and (max-width: 990px){
    .our-team{
        margin-bottom: 20px;
    }
}
/*----END Section WWA-------*/

/*----Section Réseaux sociaux + Contact_us---*/

.contact_title {
  margin-bottom: 10px;
}

.social_present, .formulair_text {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.form-horizontal {
  margin-right: 10%;
}

.social_link {
  text-align: center;
}

.social_link img {
  width: 150px;
  display: block;
  margin: auto;
}

.social_link button {
  width: 200px;
  margin: 15px;
  opacity: 0.6;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.social_link button:hover {
	opacity: 1;
}

/*----END Réseaux Sociaux + Contact_us-------*/
